{% extends 'base1.html.twig' %}

{% block title %}Edit Sponsor{% endblock %}

{% block body %}
    <h1>Edit Sponsor</h1>

    {{ include('sponsor_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sponsor_admin_index') }}">back to list</a>

    {{ include('sponsor_admin/_delete_form.html.twig') }}
{% endblock %}
